.foto{
    background: url("tela.svg");
    width: 1970px;
    height: 1000px;
    background-size: 100%;
}

.fundo{
background: url(9.png);
width: 1920px;
background-size: 100%;
height: 1080px;
margin: -50px;
padding: 50px;
}

.Ajudantes{
margin-left: 1350px;
font-weight: bold;
font-size: 18px;
}

p{
font-size: 18px;
}

#id{
    margin-top: 100px;
    width: 92px;
    height: 40px;
    border: solid black;
    border-width: 5px;
    background-color: white;
    border-radius: 5px;
    margin-left: 200px;
}

body{
    font-size: 30px;
}

.img2{
background: url(9.png);
background-size: 100%;
height: 1080px;
margin: -50px;
padding: 50px;
}

ul{
list-style-type: none;
}

h1{
margin-right: 100px;
}


